header ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

header li {
  margin-left: 10px;
}

header {
  margin-top: 20px;
}

header li img {
  width: 40px;
  border-radius: 50%;
  position: relative;
  bottom: 8px;
}
